<div id="gallery">
  <h2>Всі фото</h2>

    <% @images.each_slice(3) do |image| %>
      <div class="row">
        <% image.each do |image| %>
            <div class="col-md-4">
                <div class="photo-img">
                  <div class="photo photo-type-line">
                    <small>
                      <% if user_signed_in? && current_user.admin? %>
                        <%= link_to 'Змінити', edit_admin_image_path(image) %>
                        |
                        <%= link_to 'Видалити', admin_image_path(image), method: :delete, data: { confirm: 'Ви впевнені?' } %>
                      <% end %>
                    </small>
                    <a href="<%= image.image_url() %>" class="photo-hover" data-lightbox="my images" data-title="<%= image.image_title %>" >
                      <%= image_tag image.image_url(:thumb) %>
                    </a>
                    </div>
                </div>
            </div>
        <% end %>
  </div>
    <% end %>
  </div>
